import random
print('constant dice roll')
end=0
lc=1
sid=int(input('number of sides: '))
print('enter <1> to exit the program, <Enter> to continue')
while end!=str(1):
    print('roll number'+str(lc)+':')
    print(random.randint(1,sid))
    lc=lc+1
    end=(input('-'))# Auto detect text files and perform LF normalization
